<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur10" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- ur10 + 2f-85-->
  <xacro:include filename="$(find ur_description)/urdf/ur10_joint_limited_robot_2f85.urdf.xacro" />

  <!-- realsense d435 (hand-eye) -->
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
  <xacro:sensor_d435 name="hand_eye" topics_ns="hand_eye" parent="ee_link" publish_pointcloud="false">
    <origin xyz="0 0 0.1" rpy="0 0.35 0" />
  </xacro:sensor_d435>  

  <!-- realsense d435 (side_camera) -->
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
  <xacro:sensor_d435 name="side_camera" topics_ns="side_camera" parent="base_link" publish_pointcloud="false">
    <origin xyz="1 0.6 0.3" rpy="0 0 ${pi}" />
  </xacro:sensor_d435>  

  <!-- realsense d435 (front_camera) -->
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
  <xacro:sensor_d435 name="front_camera" topics_ns="front_camera" parent="base_link" publish_pointcloud="false">
    <origin xyz="0.2 1.25 0.3" rpy="0 0 ${-pi/2.0}" />
  </xacro:sensor_d435>  

</robot>
